.item-row {  
float: left;  
border-radius: 8px;
 background: #ff000000;
 width: 100px; height: auto;
 margin-left: 15px !important;
 margin-right: -2px !important; 
margin-top: 10px !important; margin-bottom: 10px !important; 
  display: flex;
  flex-grow: 1; 
min-width: 40px; 
max-width: 4%; 
padding:2px;
overflow: hidden; 
 font-family: arial ;  
text-decoration: none;
background:#ff000000;box-shadow: 0 2px 4px 0 rgba(31, 38,135,0.37);
   border-top-left-radius: 13px;
border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
border-bottom-right-radius: 13px;
 }
.item-link { 
width: 100%;
 text-decoration: none; 
color: black; 
}
.item-image { 
width: 100% ! important; 
border-radius: 0px 0px 1px 1px;
 margin: 0px !important;
padding:2px;
border-top-left-radius: 13px;
border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
border-bottom-right-radius: 13px;
 }
.item-price { 
margin-left: 4px;
 color:var(--black);
display: block; 
font-size: 13px !important;
padding:4px;
text-align:left;
font-weight: 420;

 }
.item-title { font-weight: 450; margin-left: 4px; color:var(--black);
display: dedede; 
 font-size: 17px;
margin-top:26px;
padding:4px;
text-align:left;
white-space: nowrap;
 }

.item-nearby-row { 
float: left;  
border-radius: 13px; 
background: #ff000000; 
width: 0%; 
height: auto; 
margin-left: 0% !important; 
margin-right: 12px !important; 
margin-top: 0px !important; 
margin-bottom: 10px !important; justify-content: center; 
align-items: center;  
display: flex; flex-direction: column; 
min-width: 50px; max-width: 7.2%; 
overflow: hidden;  font-family: arial ;
text-decoration: none;  -webkit-tap-highlight-color: transparent; transition: background-color 0.1s ease-in-out; 
padding:4px;
background:#ff000000;box-shadow: 0 2px 4px 0 rgba(31, 38,135,0.37);
 } 

.item-nearby-link {width: 100%; text-decoration: none; color: black; 
}
.item-nearby-image {width: 100% ! important; 
border-radius: 13px 13px 13px 13px;
 margin: 0px !important; 
}
.item-nearby-title {
white-space: nowrap;
font-weight: 550;
 margin-top: 5px; 
margin-left: 5px; 
font-family:'Arial', sans-serif;
display: block;
  font-size: 90px;
color:var(--black);
}
.item-nearby-distance {  
margin-left: 5px;
margin-top:8px; 
color:var(--black);
display: block; 
font-size: 15px !important; 
}
.item-nearby-status {  margin-bottom: 5px; margin-left: 5px;  
color: black; 
font-weight: bold;
 font-size: 13px !important; 
}
.item-nearby-status-note {margin-top: -100%; float: right;
 margin-right: 5px; 
margin-left: 0%;
 border-radius:  5px; 
opacity: 95%;
 height: auto; width: 100%;
 background: #20AFA7; 
 color: white;
 font-size: 10px;
 display: inline-block;  
align-items: center;
 justify-content: center; 
 overflow: hidden; 
  font-weight: 550;
  text-align: center;
  top: 0; 
 }
.item-nearby-status-open { 
margin-bottom: 5px;
margin-top:8px;
 color:var(--black);
 font-size: 15px !important;
font-family:'Arial';
}
